<div class="modal-header">
    <h4 class="modal-title">Cuentas</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close('Close click')"></button>
</div>
<div class="modal-body">
    <p>¿Estás seguro que quieres cerrar sesión? </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="signOut()">Aceptar</button>
</div>