<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/menu']">Carta</a>
        </li>
       <li class="nav-item" *ngIf="user && (user.getDepartment() == 'waiter' || user.getDepartment() == 'admin')">
          <a class="nav-link" [routerLink]="['orders/create']">Crear comanda</a>
        </li>
        <li class="nav-item" *ngIf="user && (user.getDepartment() == 'chef' || user.getDepartment() == 'admin')">
          <a class="nav-link" [routerLink]="['/orders']">Ver Comandas</a>
        </li>
        <li class="nav-item" *ngIf="!user || user.getDepartment() == ''">
          <a class="nav-link" [routerLink]="['/signin']">Iniciar Sesión</a>
        </li>
        <li class="nav-item" *ngIf="user && user.getDepartment() == 'admin'">
          <a class="nav-link" [routerLink]="['/signup']">Registrar empleado</a>
        </li>
        <!--Navbar item with userName as dropdown that allows the logged user to sign out-->
        <li class="nav-item dropdown" *ngIf="user && user.getDepartment() != ''">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-dark nav-link" id="dropdownBasic1" ngbDropdownToggle>
                    {{user.getUserName()}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="open()">Cerrar sesión</button>
                </div>
            </div>
        </li>          
      </ul>
    </div>
</nav>